<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <display-name>Project_NotFound</display-name>
  <session-config>
    <session-timeout>30</session-timeout>
  </session-config>
  <servlet>
    <servlet-name>indexServlet</servlet-name>
    <servlet-class>controller.IndexController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>indexServlet</servlet-name>
    <url-pattern>/index.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>mainServlet</servlet-name>
    <servlet-class>controller.MainController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>mainServlet</servlet-name>
    <url-pattern>/main.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>IdcheckController</servlet-name>
    <servlet-class>controller.IdcheckController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IdcheckController</servlet-name>
    <url-pattern>/idcheck.do</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>SearchController</servlet-name>
    <servlet-class>controller.Daum_SearchController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchController</servlet-name>
    <url-pattern>/daumsearch.do</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>MemoController</servlet-name>
    <servlet-class>controller.MemoController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MemoController</servlet-name>
    <url-pattern>/memo.do</url-pattern>
  </servlet-mapping>
  
  <filter>
    <filter-name>Encoding Filter</filter-name>
    <filter-class>filter.CommonEncodingFilter</filter-class>
    <init-param>
      <param-name>encoding</param-name>
      <param-value>UTF-8</param-value>
    </init-param>
  </filter>
  
  <filter-mapping>
    <filter-name>Encoding Filter</filter-name>
    <url-pattern>*.jsp</url-pattern>
    <url-pattern>*.do</url-pattern>
  </filter-mapping>
  
  <filter>
    <filter-name>LoginCheckFilter</filter-name>
    <filter-class>filter.LoginCheck</filter-class>
  </filter>
 
  <filter-mapping>
    <filter-name>LoginCheckFilter</filter-name>
    <url-pattern>*.jsp</url-pattern>
    <url-pattern>*.do</url-pattern>
  </filter-mapping>
  
  <welcome-file-list>
    <welcome-file>index.do</welcome-file>
  </welcome-file-list>
</web-app>